*{
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansBold';
}
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


body{
    background-size: auto;
    background-image: url(http://www.ewha.ac.kr/upload/board/9890/169630_2.jpg);
    background-attachment: fixed;
}

.grids{
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;


}

div{
    background-color: rgba( 255, 255, 255, 0.5 );

}

.grid-header{
    background-color:rgb(61, 110, 73);
    text-decoration: none;
    color:white;
    grid-column: 1 / span 5;
    display: inline;
    text-align: right;
    padding: 0.8em;
    padding-top: 1em;
    word-spacing: 0.1em;
    font-weight: bold;
}

.grid-header:hover { color : black;}

.grid-logo{
    color: rgb(61, 110, 73);
    text-align: center;
    grid-column: 1 / span 5;
    padding: 2.5em;
    font-size: 1.1em;
}
#logo{
    font-family: 'GmarketSansBold';
}


.grid-content {
    list-style-type: none;
    grid-column: 2/ span 3;
    padding: 0.5em;

}

.name{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:15px;
    background:transparent;
    margin-bottom: 4em;

}

a{
    text-decoration: none;
}

.name1, .name2, .name3{
    background-color: white;
    padding: 1em;
    margin: 0.5em 2.5em;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    color:rgb(61, 110, 73);
    line-height: 1em;
    box-shadow: 0px 0px 10px #ccc;

}

.name1:hover, .name2:hover, .name3:hover { background-color : rgba(255, 255, 255, 0.815);}

.name_content{
    padding: 1em;
    color: rgb(61, 110, 73);
}

.profile {
    float: left;
}

.project{
    background-color: white;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    margin: 0.5em 2.5em;
    color:rgb(61, 110, 73);
    line-height: 1em;
}

.grid-footer {
    background-color:rgb(0, 0, 0);
    list-style-type: none;
    color:white;
    text-align: center;
    grid-column: 1 / span 5;
    padding: 0.8em;
    padding-top: 1em;
    font-size: 0.9em;
}

